<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Votaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <img src="{{ url_for('static', filename='img/images.jpg') }}" alt="Logo del Sistema" width="380">
   
</a>

</head>
<body>
    
    <h1>Bienvenido al Sistema de Votaciones</h1>
    <ul>
        <li><a href="/registro">Registrar Ciudadano</a></li>
        <li><a href="/consulta">Consultar Puesto de Votación</a></li>
    </ul>
</body>
</html>